<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.example.lawofdemeter">
      </category>
      <view
            name="Sample View"
            category="com.example.lawofdemeter"
            class="com.example.lawofdemeter.views.SampleView"
            id="com.example.lawofdemeter.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.example.lawofdemeter.LawOfDemeter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.example.lawofdemeter.MyCompilationParticipant"
            id="com.example.lawofdemeter.compilationParticipant1">
      </compilationParticipant>
   </extension>

</plugin>
