<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mapview" name="mapview" schema="schema/mapview.exsd"/>
   <extension
         id="HapaxBuilder"
         name="Hapax Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.codemap.builder.HapaxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.unibe.softwaremap"
            name="Software Cartography">
      </category>
      <view
            category="ch.unibe.softwaremap"
            class="org.codemap.mapview.MapView"
            icon="icons/sample.gif"
            id="ch.unibe.softwaremap.MapView"
            name="Map View"
            restorable="true">
      </view>
      <view
            category="ch.unibe.softwaremap"
            class="org.codemap.util.SelectionView"
            id="ch.unibe.softwaremap.SelectionView"
            name="Selection View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.codemap.editors.CodemapEditor"
            default="true"
            extensions="map"
            icon="icons/sample.gif"
            id="org.codemap.mapeditor"
            name="Codemap editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.codemap"
            name="Software Cartography">
      </category>
      <wizard
            category="org.codemap"
            class="org.codemap.wizards.NewCodemapCreationWizard"
            icon="icons/sample.gif"
            id="org.codemap.wizards.NewCodemapCreationWizard"
            name="Codemap">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.codemap.content-type1"
            name="name"
            priority="normal">
         <describer
               class="org.codemap.ContentDescriber1">
         </describer>
         <property
               name="org.codemap.property1">
         </property>
         <property
               name="org.codemap.property2">
         </property>
      </content-type>
      <file-association
            content-type="org.codemap.file-association1">
      </file-association>
      <file-association
            content-type="org.codemap.file-association2">
      </file-association>
      <content-type
            id="org.codemap.content-type2"
            name="name"
            priority="normal">
      </content-type>
   </extension>

</plugin>
