<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
    <extension
          point="org.codemap.colors">
       <toolbar
             class="org.codemap.plugin.eclemma.ShowCoverageAction"
             icon="icons/eclipse/coverage.gif"
             text="Color by Coverage">
       </toolbar>
    </extension>

</plugin>
