<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="ch.unibe.softwaremap.mapview">
       <toolbar
             class="org.codemap.plugin.eclemma.ShowCoverageAction"
             icon="icons/eclipse/coverage.gif"
             text="Link with Coverage">
       </toolbar>
    </extension>

</plugin>
