<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="SampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ch.unibe.softwaremap.builder.MSEBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="SampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.unibe.softwaremap.builder.HapaxNature">
         </run>
      </runtime>
      <builder
            id="ch.unibe.softwaremap.SampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="ch.unibe.softwaremap.menus">
         <action
               label="Add/Remove Sample Nature"
               class="ch.unibe.softwaremap.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="ch.unibe.softwaremap.menus.toggleNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.unibe.softwaremap"
            name="Software Cartography">
      </category>
      <view
            category="ch.unibe.softwaremap"
            class="ch.unibe.softwaremap.ui.MapView"
            icon="icons/sample.gif"
            id="ch.unibe.softwaremap.MapView"
            name="Map View"
            restorable="true">
      </view>
      <view
            category="ch.unibe.softwaremap"
            class="ch.unibe.softwaremap.ui.SelectionView"
            id="ch.unibe.softwaremap.SelectionView"
            name="name"
            restorable="true">
      </view>
   </extension>

</plugin>
