BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    FONT-SIZE: 100%
}
A
{
    COLOR: #333333;
}
A:active
{
    COLOR: #333333
}
A:visited
{
    COLOR: #333333
}
A:link
{
    COLOR: #333333
}
A:hover
{
    COLOR: #888888
}

SPAN.hide
{
    COLOR: #FFFFFF
}

SPAN.prefuse
{
    FONT-WEIGHT: NORMAL
}

TABLE.nav-table
{
    BACKGROUND-COLOR: #E0E0E0
}

TD.nav-title
{
    BACKGROUND-COLOR: #000000;
    COLOR: #FFFFFF;
    FONT-SIZE: SMALL;
}

A.nav
{
    COLOR: #000000;
    FONT-SIZE: SMALL;
    TEXT-DECORATION: UNDERLINE
}
A.nav:active
{
    COLOR: #000000
}
A.nav:visited
{
    COLOR: #000000
}
A.nav:link
{
    COLOR: #000000
}
A.nav:hover
{
    COLOR: #888888;
    TEXT-DECORATION: UNDERLINE
}
.hidden
{
    DISPLAY: none;
    VISIBILITY: hidden;
}