<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ecf.start">
      <run
            class="org.codemap.communication.CodemapECFStart">
      </run>
   </extension>
   <extension
         point="org.codemap.actionbar">
      <action class="org.codemap.communication.views.CodemapRosterMenuItem">
      </action>
   </extension>

</plugin>
