<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mapview" name="mapview" schema="schema/mapview.exsd"/>
   <extension
         id="HapaxBuilder"
         name="Hapax Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="ch.unibe.softwaremap.builder.HapaxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.unibe.softwaremap"
            name="Software Cartography">
      </category>
      <view
            category="ch.unibe.softwaremap"
            class="ch.unibe.softwaremap.mapview.MapView"
            icon="icons/sample.gif"
            id="ch.unibe.softwaremap.MapView"
            name="Map View"
            restorable="true">
      </view>
      <view
            category="ch.unibe.softwaremap"
            class="ch.unibe.softwaremap.util.SelectionView"
            id="ch.unibe.softwaremap.SelectionView"
            name="Selection View"
            restorable="true">
      </view>
   </extension>

</plugin>
