<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Software Cartography ECF"
            id="org.codemap.ecftest">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="org.codemap.ecftest"
            class="org.codemap.ecftest.views.ECFTestView"
            id="org.codemap.ecftest.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ecf.start">
      <run
            class="org.codemap.ecftest.CodemapECFStart">
      </run>
   </extension>

</plugin>
